@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./animations.css";
 @import "./fluid.css";
 * {
	 box-sizing: border-box;
}
 ::-webkit-scrollbar-track {
	 background-color: rgba(255, 255, 255, 0.1);
	 border-radius: 10px;
}
 ::-webkit-scrollbar {
	 width: 5px;
	 height: 5px;
}
 ::-webkit-scrollbar-thumb {
	 background-color: #11171a;
	 border-radius: 10px;
}
 .view {
	 color: #fff;
	 display: inline-block;
	 margin: 20px 0;
	 padding: 10px 20px;
	 background-color: #b91c6c;
	 transition: 0.5s all cubic-bezier(0.2, 0.8, 0.2, 1);
	 box-shadow: 8px 9px 0px 0px #1536ba;
	 text-decoration: none;
}
 .view:hover, .view:active, .view:focus {
	 background-color: #860044;
}
 .no-bg header h1 {
	 animation: none !important;
	 display: block;
	 opacity: 1;
}
 .no-bg header h1 a {
	 animation: none !important;
}
 .no-bg header div span {
	 animation: pickupthephonebaby 1s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 .no-bg .main.site-cont {
	 animation: boasy 1s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1) !important;
}
 .no-bg .main.site-cont .hero {
	 animation: boasy 1s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 .no-bg .main.site-cont .hero .services {
	 animation: stargazing 1s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 .no-bg .main.site-cont .children .socials a {
	 animation: lovestolay 1s 0.25s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 .no-bg .main.site-cont .children .socials :nth-child(2n) {
	 animation-delay: 0.3s !important;
}
 .no-bg .main.site-cont .children .projects {
	 animation: boasy 1s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 .no-bg .main.site-cont .children .contact {
	 animation: boasy 1s 0.45s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 .no-bg .projects.site-cont {
	 animation: stargazing 1.5s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1) !important;
}
 .no-bg .projects.site-cont article .container {
	 background-color: #1d1b1b;
	 opacity: 0;
	 animation: hope 1s 0.12s forwards cubic-bezier(0.2, 0.8, 0.2, 1) !important;
}
 .no-bg .projects.site-cont article .container img {
	 opacity: 1 !important;
}
 .no-bg .single-project {
	 animation: stargazing 1s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 .no-bg .page-about.site-cont .animated li:nth-child(1) {
	 animation-delay: 0.5s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(1) .loader {
	 animation-delay: 1.5s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(1) .text {
	 animation-delay: 1.5s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(2n) {
	 animation-delay: 2.6s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(2n) .loader {
	 animation-delay: 3.6s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(2n) .text {
	 animation-delay: 3.6s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(3n) {
	 animation-delay: 3.9s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(3n) .loader {
	 animation-delay: 4.9s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(3n) .text {
	 animation-delay: 4.9s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(4n) {
	 animation-delay: 5.2s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(4n) .loader {
	 animation-delay: 6.2s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(4n) .text {
	 animation-delay: 6.2s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(5n) {
	 animation-delay: 6.5s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(5n) .loader {
	 animation-delay: 7.5s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(5n) .text {
	 animation-delay: 7.5s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(6n) {
	 animation-delay: 7.8s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(6n) .loader {
	 animation-delay: 8.8s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(6n) .text {
	 animation-delay: 8.8s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(7n) {
	 animation-delay: 9.1s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(7n) .loader {
	 animation-delay: 10.1s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(7n) .text {
	 animation-delay: 10.1s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(8n) {
	 animation-delay: 10.4s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(8n) .loader {
	 animation-delay: 11.4s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(8n) .text {
	 animation-delay: 11.4s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(9n) {
	 animation-delay: 11.7s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(9n) .loader {
	 animation-delay: 12.7s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(9n) .text {
	 animation-delay: 12.7s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(10n) {
	 animation-delay: 13s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(10n) .loader {
	 animation-delay: 14s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(10n) .text {
	 animation-delay: 14s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(11n) {
	 animation-delay: 14.3s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(11n) .loader {
	 animation-delay: 15.3s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(11n) .text {
	 animation-delay: 15.3s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(12n) {
	 animation-delay: 15.6s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(12n) .loader {
	 animation-delay: 16.6s !important;
}
 .no-bg .page-about.site-cont .animated li:nth-child(12n) .text {
	 animation-delay: 16.6s !important;
}
 .no-bg .background-overlay {
	 animation: none;
	 opacity: 0.3;
}
 .no-bg .background-overlay span {
	 animation: none;
	 transform: rotate(45deg);
	 opacity: 1;
}
 html {
	 font-family: "Roboto Mono", monospace;
	 text-rendering: optimizeLegibility;
	 padding: 0px;
}
 html body {
	 margin: 0px;
	 background-color: #000;
	 overflow-x: hidden;
}
 html body .content {
	 position: relative;
	 overflow: hidden;
}
 html body .prog {
	 display: flex;
	 flex-direction: row;
}
 html body .projectgroup {
	 display: grid;
	 animation: boasy 1s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1) !important;
	 margin: 20px;
	 grid-gap: 20px;
	 grid-auto-flow: column;
}
 html body .wrapper {
	 z-index: 99999;
	 display: block;
	 width: 100%;
	 padding: 50px 0 0 0;
	 height: 100%;
	 overflow: hidden;
}
 html body header {
	 display: grid;
	 grid-template-columns: max-content 1fr;
	 padding-left: 100px;
}
 html body header h1 {
	 font-size: 50px;
	 margin: 0px;
	 animation: stargazing 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 background: linear-gradient(to right, #d82881 36%, #8d27da 100%);
	 transition: 0.3s all ease-in-out;
	 -webkit-background-clip: text;
	 background-clip: text;
	 -webkit-text-fill-color: transparent;
	 opacity: 0;
	 color: transparent;
}
 html body header span {
	 width: 0%;
	 background-color: #d82881;
	 height: 3px;
	 display: block;
}
 html body header a {
	 transition: 0.1s all ease-in-out;
	 text-decoration: none;
}
 html body header a:hover span {
	 animation: benz 1s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body header div {
	 position: relative;
	 margin-left: 15px;
}
 html body header div span {
	 opacity: 0;
	 position: absolute;
	 bottom: 15px;
	 width: 0%;
	 height: 5px;
	 background-color: #1536ba;
	 border-radius: 50px 0 0 0;
	 right: 0;
	 animation: pickupthephonebaby 2s 1.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body header div .alt {
	 bottom: 30px;
	 background-color: #b91c6c;
}
 html body .site-cont {
	 padding: 50px 100px;
}
 html body .socials {
	 display: grid;
	 height: 60px;
	 margin-bottom: 50px !important;
	 grid-auto-flow: column;
	 grid-gap: 10px;
	 text-align: center;
	 line-height: 60px;
	 margin-top: 20px;
	 text-transform: uppercase;
}
 html body .socials a {
	 border: 5px solid transparent;
	 opacity: 0;
	 animation: lovestolay 2s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 transition: 0.3s all ease-in-out;
}
 html body .socials a:hover {
	 background-color: #2cb57c;
}
 html body .main {
	 display: grid;
	 overflow: hidden;
	 grid-template-columns: 2fr 1fr 1fr;
	 grid-gap: 80px;
}
 html body .main h1, html body .main h2 {
	 margin: 0px;
}
 html body .main .hero {
	 padding: 50px;
	 background-color: #7f5af0;
	 border: 10px solid #e7ff0e;
	 opacity: 0;
	 color: #2cb57c;
	 animation: boasy 3s 1.5s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 box-shadow: 0px 0px 0px 0px transparent;
}
 html body .main .hero h1 {
	 padding-bottom: 20px;
	 font-size: 2.5em;
	 color: #e7ff0e;
}
 html body .main .hero .hi {
	 font-size: 2.7em;
	 color: #f1f1f1;
}
 html body .main .hero h2 {
	 font-size: 2em;
	 font-family: "Inconsolata", monospace !important;
	 font-weight: 400;
	 color: #fff;
	 line-height: 40px;
}
 html body .main .hero .services {
	 margin-top: 20px;
	 font-size: 30px;
	 text-decoration: none;
	 color: #e7ff0e;
	 opacity: 0;
	 animation: stargazing 2.5s 1.5s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 border-bottom: 3px solid #def919;
	 display: inline-block;
}
 html body .main .children a {
	 text-decoration: none;
	 color: #fff;
}
 html body .main .children h2 {
	 font-weight: 300;
	 font-family: "Inconsolata", monospace !important;
}
 html body .main .children .projects {
	 padding: 50px;
	 background-color: #ef4565;
	 opacity: 0;
	 margin-bottom: 100px;
	 color: #7f5af0;
	 animation: boasy 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 transition: 0.3s all ease-in-out;
	 box-shadow: 0px 0px 0px 0px transparent;
	 display: block;
}
 html body .main .children .projects h2 {
	 color: white;
}
 html body .main .children .projects:hover {
	 background-color: #2cb57c;
}
 html body .main .children .contact {
	 padding: 50px;
	 background-color: #c53651;
	 opacity: 0;
	 color: #7f5af0;
	 animation: boasy 3s 2.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 transition: 0.3s all ease-in-out;
	 box-shadow: 0px 0px 0px 0px transparent;
}
 html body .main .children .contact h2 {
	 color: #e3eeff;
}
 html body .main .children .contact:hover {
	 background-color: #2cb57c;
}
 html body .main .children .socials :nth-child(2n) {
	 animation-delay: 2.3s !important;
}
 html body .main .children .socials :nth-child(3n) {
	 animation-delay: 2.5s !important;
}
 html body .main .card .arrow {
	 transition: 0.3s all cubic-bezier(1, -0.22, 0.49, 1.49);
}
 html body .main .card:hover .arrow {
	 margin-left: 10px;
}
 html body .background-overlay {
	 width: 100%;
	 height: 100%;
	 position: fixed;
	 z-index: -9999;
	 top: 0;
	 left: 0;
	 display: grid;
	 margin: 0px;
	 overflow: hidden;
	 grid-gap: 0;
	 opacity: 1;
}
 html body .background-overlay span {
	 border: 2px solid #ff00e0;
	 box-shadow: 0px 3px 35px #2504df;
	 height: 100%;
	 opacity: 0;
	 width: 300px;
	 height: 300px;
}
 html body .square-anim span {
	 animation: chanel 2s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1), ultravio 2s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1), sweetsweet 3s 0.1s forwards cubic-bezier(1, -0.22, 0.65, 0.73);
}
 html body .sn-anim span {
	 transform: rotate(45deg);
	 opacity: 1;
	 margin-left: 0px;
}
 html body .anim {
	 animation: wasted 5s 1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body .four {
	 opacity: 0;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 5em;
	 box-shadow: 0px 3px 200px #ff00e0;
	 z-index: 99999;
	 background-color: #fff;
	 padding: 50px 80px;
	 color: #ff00e0;
	 animation: ricky 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body .four a {
	 display: block;
	 font-size: 25px;
	 text-align: center;
	 text-decoration: none;
	 margin-top: 50px;
	 color: #218ff1;
}
 html body .four a .arrow {
	 transition: 0.3s all cubic-bezier(1, -0.22, 0.49, 1.49);
}
 html body .four a:hover .arrow {
	 margin-left: 10px;
}
 html body .projects {
	 opacity: 0;
	 animation: stargazing 3s 2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 display: grid;
	 grid-template-columns: 1fr 1fr;
	 grid-auto-rows: auto;
	 grid-gap: 100px;
}
 html body .projects a {
	 color: #b5f9bb;
	 text-decoration: none;
	 position: relative;
	 display: block;
	 outline: 0 !important;
}
 html body .projects a:focus .meta, html body .projects a:active .meta, html body .projects a:hover .meta {
	 opacity: 1;
}
 html body .projects a:focus .overlay, html body .projects a:active .overlay, html body .projects a:hover .overlay {
	 opacity: 0.65 !important;
}
 html body .projects article {
	 position: relative;
}
 html body .projects article .container {
	 display: block;
	 margin: 0 auto;
	 height: 50vh;
	 width: 100%;
	 background-size: cover;
	 background-repeat: no-repeat;
	 -webkit-animation: hope 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 animation: hope 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body .projects article .container img {
	 display: none;
}
 html body .projects article .container .overlay {
	 background-color: #000;
	 opacity: 0;
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 top: 0;
	 transition: 0.4s all ease-in-out;
}
 html body .projects article .meta {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 opacity: 0;
	 transition: 0.4s all ease-in-out;
}
 html body .projects article h1 {
	 font-size: 5em;
	 margin: 0px;
	 color: #fff;
	 padding: 20px 50px;
}
 html body .projects article img {
	 width: 100%;
	 max-width: 1300px;
	 opacity: 0;
	 margin: 0 auto;
	 display: block;
	 animation: hope 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body .single-project {
	 display: block;
	 overflow: hidden;
	 max-width: 1800px;
	 margin: 0 auto;
	 opacity: 0;
	 animation: stargazing 3s 2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body .single-project .allProjects {
	 color: #fff;
	 text-decoration: none;
	 opacity: 0.7;
	 font-size: 15px;
	 transition: 0.3s all ease-in-out;
}
 html body .single-project .allProjects:hover, html body .single-project .allProjects:active, html body .single-project .allProjects:focus {
	 opacity: 1;
}
 html body .single-project img {
	 width: 100%;
}
 html body .single-project .meta {
	 margin-top: 20px;
	 background-color: #191818;
	 padding: 50px;
	 font-family: "Inconsolata", monospace !important;
	 font-weight: 400;
	 font-size: 23px;
	 line-height: 30px;
}
 html body .single-project .meta h1 {
	 font-size: 3em;
	 margin: 0px;
	 color: #e7ff0e;
	 padding: 20px 0;
}
 html body .single-project .meta p {
	 font-size: 2em;
	 margin: 0px;
	 padding-top: 20px;
	 color: #f1f1f1;
	 font-size: 25px;
}
 html body .single-project .meta p a {
	 color: #e7ff0e;
	 transition: 0.3s all ease-in-out;
}
 html body .single-project .meta p a:hover {
	 opacity: 0.75;
}
 html body .single-project .meta .view {
	 color: #fff;
	 display: inline-block;
	 margin: 20px 0;
	 padding: 10px 20px;
	 background-color: #b91c6c;
	 transition: 0.5s all cubic-bezier(0.2, 0.8, 0.2, 1);
	 box-shadow: 8px 9px 0px 0px #1536ba;
	 text-decoration: none;
}
 html body .single-project .meta .view:hover, html body .single-project .meta .view:active, html body .single-project .meta .view:focus {
	 background-color: #860044;
}
 html body .single-project .article-content {
	 font-size: 25px;
	 line-height: 34px;
	 font-family: "Inconsolata", monospace;
	 font-weight: 400;
	 margin: 20px 0;
}
 html body .single-project .article-content a {
	 color: #fff;
	 transition: 0.3s all ease-in-out;
}
 html body .single-project .article-content a:hover, html body .single-project .article-content a:active, html body .single-project .article-content a:focus {
	 opacity: 0.75;
}
 html body .page-services ul {
	 list-style: none;
	 display: grid;
	 grid-auto-flow: column;
	 grid-template-columns: 1fr 1fr 1fr 1fr;
	 margin: 0px;
	 padding: 0px;
	 animation: stargazing 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 opacity: 0;
}
 html body .page-services ul li {
	 padding: 50px;
	 background-color: rgba(0, 0, 0, 0.7);
	 border: 1px solid #000;
	 transition: box-shadow 0.15s ease-out, transform 0.35s ease-out, opacity 0.2s ease-out;
	 animation: sunday 4s 1.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body .page-services ul li h2 {
	 margin-top: 0px;
	 font-size: 1.8em;
}
 html body .page-services ul li p {
	 font-family: "Inconsolata", monospace;
	 font-weight: 400;
	 font-size: 20px;
	 line-height: 28px;
}
 html body .page-services .about-me {
	 text-align: center;
	 display: flex;
	 justify-content: center;
	 color: #ccc;
	 text-decoration: none;
	 font-weight: 300;
	 font-size: 20px;
	 font-family: "Inconsolata", monospace;
	 margin: 60px 0;
	 animation: xnxx 3s 1.5s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 opacity: 0;
	 transition: 0.3s all ease-in-out;
}
 html body .page-services .about-me:hover, html body .page-services .about-me:active, html body .page-services .about-me:focus {
	 color: #fff;
}
 html body .page-services .about-me span {
	 padding-left: 10px;
}
 html body .page-about {
	 display: block;
	 position: relative;
}
 html body .page-about .stopaim li {
	 animation: chevelle 2s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1) !important;
}
 html body .page-about .stopaim li .loader {
	 display: none;
}
 html body .page-about .animated li:nth-child(1n) {
	 animation-delay: 2s !important;
}
 html body .page-about .animated li:nth-child(1n) .loader {
	 animation-delay: 3s !important;
}
 html body .page-about .animated li:nth-child(1n) .text {
	 animation-delay: 3s !important;
}
 html body .page-about .animated li:nth-child(2n) {
	 animation-delay: 4s !important;
}
 html body .page-about .animated li:nth-child(2n) .loader {
	 animation-delay: 5s !important;
}
 html body .page-about .animated li:nth-child(2n) .text {
	 animation-delay: 5s !important;
}
 html body .page-about .animated li:nth-child(3n) {
	 animation-delay: 6s !important;
}
 html body .page-about .animated li:nth-child(3n) .loader {
	 animation-delay: 7s !important;
}
 html body .page-about .animated li:nth-child(3n) .text {
	 animation-delay: 7s !important;
}
 html body .page-about .animated li:nth-child(4n) {
	 animation-delay: 8s !important;
}
 html body .page-about .animated li:nth-child(4n) .loader {
	 animation-delay: 9s !important;
}
 html body .page-about .animated li:nth-child(4n) .text {
	 animation-delay: 9s !important;
}
 html body .page-about .animated li:nth-child(5n) {
	 animation-delay: 10s !important;
}
 html body .page-about .animated li:nth-child(5n) .loader {
	 animation-delay: 11s !important;
}
 html body .page-about .animated li:nth-child(5n) .text {
	 animation-delay: 11s !important;
}
 html body .page-about .animated li:nth-child(6n) {
	 animation-delay: 12s !important;
}
 html body .page-about .animated li:nth-child(6n) .loader {
	 animation-delay: 13s !important;
}
 html body .page-about .animated li:nth-child(6n) .text {
	 animation-delay: 13s !important;
}
 html body .page-about .animated li:nth-child(7n) {
	 animation-delay: 14s !important;
}
 html body .page-about .animated li:nth-child(7n) .loader {
	 animation-delay: 15s !important;
}
 html body .page-about .animated li:nth-child(7n) .text {
	 animation-delay: 15s !important;
}
 html body .page-about .animated li:nth-child(8n) {
	 animation-delay: 16s !important;
}
 html body .page-about .animated li:nth-child(8n) .loader {
	 animation-delay: 17s !important;
}
 html body .page-about .animated li:nth-child(8n) .text {
	 animation-delay: 17s !important;
}
 html body .page-about .animated li:nth-child(9n) {
	 animation-delay: 18s !important;
}
 html body .page-about .animated li:nth-child(9n) .loader {
	 animation-delay: 19s !important;
}
 html body .page-about .animated li:nth-child(9n) .text {
	 animation-delay: 19s !important;
}
 html body .page-about .animated li:nth-child(10n) {
	 animation-delay: 20s !important;
}
 html body .page-about .animated li:nth-child(10n) .loader {
	 animation-delay: 21s !important;
}
 html body .page-about .animated li:nth-child(10n) .text {
	 animation-delay: 21s !important;
}
 html body .page-about .animated li:nth-child(11n) {
	 animation-delay: 22s !important;
}
 html body .page-about .animated li:nth-child(11n) .loader {
	 animation-delay: 23s !important;
}
 html body .page-about .animated li:nth-child(11n) .text {
	 animation-delay: 23s !important;
}
 html body .page-about .animated li:nth-child(12n) {
	 animation-delay: 24s !important;
}
 html body .page-about .animated li:nth-child(12n) .loader {
	 animation-delay: 25s !important;
}
 html body .page-about .animated li:nth-child(12n) .text {
	 animation-delay: 25s !important;
}
 html body .page-about .animated .text {
	 visibility: hidden;
	 animation: iwishicould 3s 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1), BRACKETS 5s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body .page-about .stopaim li .text {
	 visibility: visible;
}
 html body .page-about .stopaim li .text .animControl {
	 display: none;
}
 html body .page-about ul {
	 list-style-type: none;
	 padding: 0px;
	 max-width: 800px;
	 margin: 0 auto;
	 overflow: hidden;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-end;
}
 html body .page-about ul li {
	 display: block;
	 width: 100%;
	 overflow: hidden;
	 visibility: hidden;
	 animation: chevelle 2s 2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 height: 0px;
	 margin-bottom: 10px;
	 position: relative;
	 flex-shrink: 0;
	 transform: none;
}
 html body .page-about ul li p {
	 padding: 10px 20px;
	 border-radius: 25px 25px 25px 0px;
	 background-color: #7f5af0;
	 color: #fff;
	 float: left;
	 font-family: "Inconsolata", monospace;
	 font-weight: 400;
	 font-size: 20px;
	 line-height: 26px;
	 margin: 0px;
}
 html body .page-about ul li .text {
	 border-radius: 25px 25px 25px 25px;
}
 html body .page-about ul li .text .hide {
	 opacity: 1;
	 animation: diff 1.5s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1) !important;
}
 html body .page-about ul li .text span {
	 position: absolute;
	 right: 0;
	 text-transform: uppercase;
	 border: 3px solid #ccc;
	 color: #ccc;
	 padding: 5px 20px;
	 top: 0;
	 border-radius: 20px;
	 opacity: 0;
	 cursor: pointer;
	 animation: lastname 4s 4s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 transition: 0.3s all ease-in-out;
}
 html body .page-about ul li .text span:hover {
	 background-color: #7f5af0;
	 border: 3px solid #7f5af0;
	 color: #fff;
}
 html body .page-about ul li .item-11 {
	 border-radius: 25px 25px 25px 0px;
	 position: relative;
	 z-index: 9999;
	 padding: 0px;
	 transition: 0.3s all ease-in-out;
	 background-color: #542cce;
}
 html body .page-about ul li .item-11 a {
	 text-decoration: none;
	 padding: 10px 20px;
	 display: block;
	 color: #fff;
}
 html body .page-about ul li .item-11:hover, html body .page-about ul li .item-11:focus, html body .page-about ul li .item-11:active {
	 background-color: #7f5af0;
}
 html body .page-about ul li .loader {
	 animation: nightslikethis 0s 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 background-color: #7f5af0;
	 opacity: 1;
}
 html body .page-about ul li .loader span {
	 width: 7px;
	 height: 7px;
	 margin-right: 7px;
	 border-radius: 50px;
	 opacity: 0.5;
	 background-color: #ccc;
	 display: inline-block;
	 margin-bottom: 2px;
	 animation: applepie 0.9s ease-in-out infinite;
}
 html body .page-about ul li .loader span:nth-child(2) {
	 animation: applepie 0.9s 0.6s ease-in-out infinite;
}
 html body .page-about ul li .loader span:nth-child(3) {
	 animation: applepie 0.9s 0.9s ease-in-out infinite;
}
 html body .page-about ul .loaded .loader {
	 display: none;
}
 html body .page-about ul .loaded .text {
	 display: block;
}
 html body .contact {
	 display: grid;
	 grid-auto-flow: column;
	 grid-gap: 100px;
}
 html body .contact .intro {
	 background-color: #191818;
	 padding: 50px;
	 opacity: 0;
	 animation: stargazing 1.5s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body .contact .socials {
	 animation: stargazing 1.5s 0.8s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	 opacity: 0;
}
 html body .contact .socials a {
	 color: #fff !important;
	 text-decoration: none;
	 animation: none;
	 opacity: 1;
	 transform: translateY(0px);
	 border: 5px solid #2cb57c;
}
 html body .contact .meta {
	 max-width: 60vw;
}
 html body .contact .meta p {
	 margin: 0 auto;
	 display: block;
	 line-height: 35px;
	 background: linear-gradient(to right, #82b4ff 40%, #bf2dae 100%);
	 -webkit-background-clip: text;
	 background-clip: text;
	 -webkit-text-fill-color: transparent;
	 font-size: 25px;
	 font-family: "Inconsolata", monospace;
	 font-weight: 700;
}
 html body .contact .meta ul {
	 padding: 0px;
	 font-family: "Inconsolata", monospace;
	 font-weight: 400;
	 font-size: 23px;
	 line-height: 30px;
	 list-style-type: none;
}
 html body .contact .meta ul :nth-child(1n) {
	 animation-delay: 0.1s !important;
}
 html body .contact .meta ul :nth-child(2n) {
	 animation-delay: 0.2s !important;
}
 html body .contact .meta ul :nth-child(3n) {
	 animation-delay: 0.3s !important;
}
 html body .contact .meta ul :nth-child(4n) {
	 animation-delay: 0.4s !important;
}
 html body .contact .meta ul :nth-child(5n) {
	 animation-delay: 0.5s !important;
}
 html body .contact .meta ul :nth-child(6n) {
	 animation-delay: 0.6s !important;
}
 html body .contact .meta ul :nth-child(7n) {
	 animation-delay: 0.7s !important;
}
 html body .contact .meta ul :nth-child(8n) {
	 animation-delay: 0.8s !important;
}
 html body .contact .meta ul :nth-child(9n) {
	 animation-delay: 0.9s !important;
}
 html body .contact .meta ul :nth-child(10n) {
	 animation-delay: 1s !important;
}
 html body .contact .meta ul :nth-child(11n) {
	 animation-delay: 1.1s !important;
}
 html body .contact .meta ul li {
	 margin: 10px 0;
	 padding: 15px;
	 background-color: #7f5af0;
	 opacity: 0;
	 animation: stargazing 3s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
 html body .fof {
	 position: relative;
	 width: 100%;
	 height: 99vh;
}
 